h1 {
  color: green;
}

p {
  color: rgb(131, 3, 243);
}
div {
  color: brown;
}
/* . es un atajo para CLASS en vez de poner "segundo-div" solo se pone un . antes del texto */
.segundo-div {
  color: crimson;
}
.padre {
  background: #f23b00;
  height: 300px;
  width: 300px;
  padding: 50px;
}
.hijo {
  height: 100px;
  background: black;
  width: 100px;
}
p span {
  color: rgb(7, 169, 12);
}
